<p id="notice"><%= notice %></p>

<h1>Listing Value Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Details</th>
      <th>Unit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @value_types.each do |value_type| %>
      <tr>
        <td><%= value_type.name %></td>
        <td><%= value_type.details %></td>
        <td><%= value_type.unit %></td>
        <td><%= link_to 'Show', value_type %></td>
        <td><%= link_to 'Edit', edit_value_type_path(value_type) %></td>
        <td><%= link_to 'Destroy', value_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Value type', new_value_type_path %>
