<p id="notice"><%= notice %></p>

<p>
  <strong>Station:</strong>
  <%= @measurement.station %>
</p>

<p>
  <strong>Valuetype:</strong>
  <%= @measurement.value_type %>
</p>

<p>
  <strong>Measuredat:</strong>
  <%= @measurement.measured_at %>
</p>

<p>
  <strong>Measuredvalue:</strong>
  <%= @measurement.measured_value %>
</p>

<p>
  <strong>Active:</strong>
  <%= @measurement.active %>
</p>

<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>
